@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">CMIS信息检索系统</h1>

    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
        <table>
            <tr>
                <td>姓名: </td>
                <td><input type="text" id="txtFirstName" name="name" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
        
    </form>
</div>
